{% extends 'email.html.twig' %}

{% block style %}
    <style type="text/css">
        hr.dashed {
            max-width: 260px;
            width: 100%;
            margin: 24px auto;
            border: 0;
            border-top: 1px dashed #cbcbcb;
        }

        .voucher-code {
            background: #F2F4FA;
            padding: 20px;
            margin: 20px 0;
            font-size: 28px;
            text-align: center;
            font-weight: bold;
        }

        p {
            font-size: 18px;
        }

        .app-store-button {
            margin: 0 10px;
            text-decoration: none;
        }
    </style>
{% endblock %}

{% block content %}
    <tr>
        <td></td>
        <td class="center-text">
            <p style="margin: 30px 0 0 0;"><strong>We received a request to reset your password.</strong><p>

            <p>We can guide you through this in a couple of moments.</p>

            <p><a href="{{ passwordUrl }}">Click here to change your password</a></p>

            <p style="margin: 30px 0 0 0;"><strong>What if I didn't want to change my password?</strong></p>

            <p>If you didn't request a change to your password, you can safely ignore this email.</p>

            <p>But contact us using the details below if you're getting emails like this frequently.</p>
        </td>
        <td></td>
    </tr>
{% endblock %}

