<!DOCTYPE html>
<html>
<meta charset="UTF-8" />
<title>
    Reset Password Email Sent
</title>
{% include 'sections/head.twig' %}

{% block body %}
    <div class="container pt-5">
        <div class="col-md-4 c-page-content m-auto p2" style="background-color: #ffffff;border-radius:5px;">
            <h3 class="t-page-title">Reset Password Email Sent</h3>
            <div class="s-prose mt3 mb3">
                <p>We've sent you an email with a link to reset your password.</p>
                <p>Emails may take a minute or two to get to you. If you don't see it then double check that you've entered the correct address, and that it isn't in your spam folder.</p>
            </div>
        </div>
    </div>
{% endblock body %}

{% block footer_js %}{% endblock %}
</body>
</html>
