<!DOCTYPE html>
<html>
<meta charset="UTF-8" />
<title>
    Reset Password - Travel Portal
</title>
{% include 'sections/head.twig' %}

{% block body %}
<div class="container pt-5">
    <div class="col-md-4 c-page-content m-auto">
        <h1 class="t-page-title">Reset Password</h1>

        <div class="s-prose mt3 mb3">
            {{ form(form) }}
        </div>
    </div>
</div>
{% endblock %}

{% block footer_js %}{% endblock %}
</body>
</html>
