<!DOCTYPE html>
<html>
<meta charset="UTF-8" />
<title>
    Password reset request - Travel Portal
</title>
{% include 'sections/head.twig' %}

<body class="hold-transition login-page">
{% block body %}
<div class="c-login">
    <div class="c-login__box text-center">
        <h1 class="c-login__operator text-left">Forgotten password?</h1>
        <p class="text-left" style="font-size: 19px;">If you've forgotten your password, we can send you instructions on how to reset it.</p>
        {{ form(form) }}
    </div>
</div>
{% endblock %}

{% block footer_js %}{% endblock %}
</body>
</html>
